extends ../shared/template

block content
  h1= title

  form(action='/locations', method='post')
    input(type='text', name='name', placeholder='Location Name')
    input(type='number', name='rate', placeholder='Location Rate')
    button Save
